.clearfis:after
    content: ''
    display: block
    height: 0
    clear: both
    visibility: hidden
.expllis
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
.duohangyingcang
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: 1
    overflow: hidden
.green-button
    padding: 10px 20px
    background-color: #20c184
    color: #fff
    border: 0
    border-radius: 5px
.login-wid
    width: 280px
    margin: auto
.login-class
    color: #20c184
    border-bottom: 2px solid #20c184
.current
    background-color: #fff
    border-radius: 10px
.green-list
    background-color: #20c184 !important
    color: #fff
